<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" shutdownHook="disable">
    <Appenders>
        <!-- Console logger for debugging (prints stacktrace) -->
        <Console name="ConsoleDebug" target="SYSTEM_OUT">
            <PatternLayout
                    pattern="%highlight{[%d{yyyy.MM.dd - HH:mm:ss]}[%p][%c{1}] %m%n}{FATAL=black, ERROR=red, WARN=yellow, INFO=white, DEBUG=white, TRACE=white}"
                    disableAnsi="false"/>
        </Console>

        <RollingFile name="RollingFile" fileName="logs/Latest.log" filePattern="logs/%d{yyyy-MM-dd}.log">
            <PatternLayout pattern="[%d{HH:mm:ss}][%p][%c{1}] %replace{%m}{\u001B\[(0|[34][0-7])m}{} %n" disableAnsi="true"/>
            <Policies>
                <OnStartupTriggeringPolicy/>
                <TimeBasedTriggeringPolicy/>
            </Policies>
            <DefaultRolloverStrategy max="5"/>
        </RollingFile>

    </Appenders>

    <Loggers>
        <Root level="TRACE">
            <AppenderRef ref="ConsoleDebug"/>
            <AppenderRef ref="RollingFile"/>
        </Root>
    </Loggers>
</Configuration>
